<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <title>Blog Application | Home</title>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <h1>My Blog Application</h1>
    </div>
    <div id="features">
      <div id="searchForm" class="form">
        <form th:action="@{/post/search}" method="GET">
          <input type="text" class="form-control" name="search" id="search" placeholder="search">
          <input type="hidden" name="order" th:value="${order}">
          <select name="tagId" multiple hidden>
            <!-- <option value="#" disabled>Filter Tags</option> -->
            <option th:each="tag: ${tagId}" selected th:value="${tag}" th:text="${tag}">
            </option>
          </select>
          <button id="searchBtn" type="submit" class="btn">Search</button>
        </form>
      </div>
      <div id="sortForm" class="form">
        <!--      +${pageNumber}-->
        <form th:action="@{'/post/page/' + ${pageNumber} + '/filter'}" method="GET">
          <!--        <input type="hidden" name="" th:value="${requestParams}">-->
          <input type="hidden" name="searchText" th:value="${searchText}" />
          <select name="order" id="sort" class="form-control">
            <option value="" selected disabled>Order By</option>
            <option value="desc">Newest</option>
            <option value="asc">Oldest</option>
          </select>

          <!--        <p th:each="tags: ${tagId}" th:text="${tags}">-->
          <select name="tagId" multiple hidden>
            <!-- <option value="#" disabled>Filter Tags</option> -->
            <option th:each="tag: ${tagId}" selected th:value="${tag}" th:text="${tag}">

            </option>

          </select>

          <button id="sortButton" type="submit">Sort</button>
        </form>
      </div>

      <div class="form">
        <a th:href="@{/post/newPost}"><button class="btn">Create New Post</button></a>
      </div>

      <div class="form">
        <form action="" method="">
          <input type="submit" id="login" value="login" class="btn">
        </form>
      </div>
    </div>
  </div>

  <div class="filter-form">

    <!--  +${pageNumber}-->

    <form th:action="@{'/post/page/' + ${pageNumber} + '/filter'}" method="GET">
      <h4 align="center">Filter Tags</h4>
      <input type="hidden" name="searchText" th:value="${searchText}">
      <input type="hidden" name="order" th:value="${order}">
      <select name="tagId" id="filter" class="form-control" multiple>
        <!-- <option value="#" disabled>Filter Tags</option> -->
        <option th:each="tag: ${tagList}" th:if="${tag.name!=''}" th:value="${tag.id}" th:text="${tag.name}">

        </option>

      </select>

      <button id="filterButton" type="submit">Filter</button>


      <!--    <select multiple>-->
      <!--      <option value="">1</option>-->
      <!--      <option value="">2</option>-->
      <!--      <option value="">3</option>-->
      <!--      <option value="">4</option>-->
      <!--      <option value="">5</option>-->
      <!--    </select>-->


    </form>
  </div>


  <main id="container-fluid">
    <div id="content-box">
      <div class="box card" th:each="post: ${postList}" th:if="${post.isPublished == true}">
        <a th:href="@{/post/{id}(id=${post.id})}">
          <div class="card-body">
            <h4 class="card-title" th:text="${post.title}"></h4>
            <p class="card-subtitle"><span th:text="${post.author}"></span>,
              <!--              <span th:text="${post.publishedAt.toString().split(' ')[0]}"></span>-->
              <span th:text="${post.publishedAt.toString()}"></span>
            </p>
            <p class="card-text" th:text="${post.excerpt}">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Delectus animi ea rem quaerat
              totam facere saepe aperiam expedita! Repellendus velit labore quas, dolorum est consequuntur alias ex
              aliquam amet soluta!</p>
          </div>
        </a>
      </div>
    </div>



  </main>

  <div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
      <div class="col-sm-2">
        <!--        Total Rows: [[${totalPosts}]]-->
      </div>
      <div class="col-sm-1">
        <a class="btn previous" th:if="${pageNumber > 1}"
          th:href="@{'/post/page/' + ${pageNumber - 1} + '/filter' + '?searchText='+${searchText} + '&order=' + ${order} + ${requestParams}}">Previous</a>
        <span th:unless="${pageNumber > 1}"><button class="btn previous">Previous</button></span>
      </div>
      <div class="col-sm-1">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
          <a id="pageNumbers" th:if="${pageNumber != i}"
            th:href="@{'/post/page/'+${i} + '/filter' + '?searchText='+${searchText} + '&order=' + ${order} + ${requestParams}}">[[${i}]]</a>
          <span th:unless="${pageNumber != i}">[[${i}]]</span>
        </span>
      </div>
      <div class="col-sm-1">
        <a class="btn next" th:if="${pageNumber < totalPages}"
          th:href="@{'/post/page/' + ${pageNumber + 1} + '/filter' + '?searchText='+${searchText} + '&order=' + ${order} + ${requestParams}}">Next</a>
        <span th:unless="${pageNumber < totalPages}"><button class="btn next"> Next </button></span>
      </div>
    </div>
  </div>

</body>

</html>