<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Post</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/viewpost.css}">
</head>

<body>
  <div class="box">
    <div class="header">
      <h5><a th:href="@{/}">My Blog Application</a></h5>
      <a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
      <div class="form" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <button type="submit" id="logout" value="logout" class=" login-logout btn">Logout</button>
        </form>
      </div>
    </div>
    <div class="box-body">
      <h1 id="post-title" th:text="${post.title}"></h1>
      <p class="post-subtitle">
        <i><span th:text="'Posted on ' + ${post.publishedAt.toString().split(' ')[0]}"></span>,
          <span th:text="' by ' + ${post.author}"></span></i>
      </p>
      <p class="post-subtitle">
        <i><span th:each="tag: ${post.tags}" th:if="${tag.name != ''}" th:text="'#' + ${tag.name} + ' '"></span></i>
      </p>
      <p id="content" th:text="${post.content}"></p>
    </div>
  </div>

  <div id="editDeleteBtn" th:if="${post.author == currentUser or #authorization.expression('hasRole(''ADMIN'')')}">
    <a id="edit" th:href="@{/post/edit/{id}(id=${post.id})}" class="btn">Edit</a>
    <form th:action="@{/post/delete/{id} (id=${post.id})}" method="POST">
      <button type="submit" class="btn">
        Delete
      </button>
    </form>
  </div>

  <div id="comment-section" th:if="${post.isPublished == true}">
    <div id="comment-list">
      <h3>Comment List</h3>
      <ul>
        <li th:each="comments: ${post.comments}">
          <p id="comment-user-name" th:text="${comments.name}"></p>
          <div class="comment">
            <p th:text="${comments.text}"></p>
            <div class="comment-buttons"
              th:if="${post.author == currentUser or #authorization.expression('hasRole(''ADMIN'')')}">
              <a th:href="@{/post/{postId}/comment/{commentId} (postId=${post.id}, commentId=${comments.id})}">
                <button type="submit" class="btn">Edit</button>
              </a>
              <form
                th:action="@{/post/{postId}/deleteComment/{commentId} (postId=${post.id}, commentId=${comments.id})}"
                method="POST">
                <button type="submit" class="btn">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="comment-form">
      <h3>Comment Form</h3>
      <form th:action="@{/post/saveComment/{id}(id=${post.id})}" id="form" th:object="${comment}" method="post">
        <div class="form-group" sec:authorize="isAnonymous()">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" th:field="*{name}" id="name" placeholder="Name">
        </div>
        <div class="form-group" sec:authorize="isAnonymous()">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email">
        </div>

        <div class="form-group">
          <label for="comment-text"></label>
          <textarea class="form-control" id="comment-text" rows="10" name="text" th:field="*{text}"
            placeholder="Make a comment" required></textarea>
        </div>
        <div class="form-group" align="center">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>